@import "compass";
@import "variables";
@import "mixins";
@import "fonts";

// --- resetting things
*, *:before, *:after { box-sizing: inherit; }
body,
html { margin: 0; padding: 0; }
html {
  box-sizing: border-box;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
}
body { text-align: center; }
img  { max-width: 100%; }

// --- basic styles
.link-visitus {
  @include ejd-link($ejd-primary, $ejd-tertiary);
}

// --- homepage styling only
.index {
  position: absolute;
  @include as-table(container);
}
.parent {
  padding: 0;
  margin: 0;
  list-style: none;

  @include as-flexbox;
}

.child {
  padding: .9rem;
  margin: 0;
  p { margin: 0; }

  &:nth-child(1) { order: 1; text-align: right; }
  &:nth-child(2) { order: 3; text-align: left;  }
  &:nth-child(3) { order: 2; text-align: center; width: 500px; }
}
@media screen and (min-width: 772px) {
  .parent {
    max-width: 800px;
    margin: auto;
  }
}
@media screen and (max-width: 772px) {
  .child {
    &:nth-child(n) { text-align: center; }
    &:nth-child(1) { order: 1; }
    &:nth-child(2) { order: 2; }
    &:nth-child(3) { order: 3; width: auto; max-width: 500px; }
  }
}