<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/assets/css/main.css">

    </head>
    <body class="{{ page.body_class }}">
      <div class="container">
        <div class="parent">
          <div class="child">
            <p>
              <a href="http://twitter.com/ritcheyer" alt="Follow Eric on Twitter" class="link-visitus">@ritcheyer</a><br>
              <a href="http://eric.ritchey.io" alt="Eric's website" class="link-visitus">eric.ritchey.io</a>
            </p>
          </div>
          <div class="child">
            <p>
              <a href="http://twitter.com/jamescarleton" alt="Follow James on Twitter" class="link-visitus">@jamescarleton</a><br>
              <a href="http://carletondesign.com" alt="James Carleton Design" class="link-visitus">carletondesign.com</a>
            </p>
          </div>
          <div class="child">
              <img src="/assets/img/logo-0-transparent-bg.svg">
          </div>
        </div>
        {{ content }}
      </div>
    </body>
</html>
